.featured-categories .container .swiper .swiper-slide a {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    background: #FFF;
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.featured-categories .container .swiper .swiper-slide a img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}
.featured-categories .container .swiper .swiper-slide a svg {
    font-size: 80px;
    color: #0073ff;
}
.featured-categories .container .swiper h2{
    font-size: 25px;
    color: red;
    margin-top: 10px;
}