.featured-categories .container .swiper .swiper-slide {
    width: 250px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    border: 1px solid #00000062;
    cursor: pointer;
    padding: 30px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.featured-categories .container .swiper .swiper-slide:hover {
    background-color: rgb(0, 5, 33);
}
.featured-categories .container .swiper .swiper-slide:hover h2 {
    color: #FFF;
}
.featured-categories .container .swiper .swiper-slide img {
    width: 80px;
    height: 80px;
}
.featured-categories .container .swiper .swiper-slide svg {
    font-size: 80px;
    color: #0073ff;
}
.featured-categories .container .swiper h2{
    font-size: 28px;
    color: red;
    margin-top: 10px;
}