.contact {
  width: 60%;
  margin: 20px auto;
  text-align: center;
  border-radius: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.contact .form-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  min-width: 250px;
}

.contact .full {
  width: 75%;
}

.contact form input,
.contact form textarea,
.contact button {
  width: 100%;
  outline: none;
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 15px;
  font-size: 18px;
  transition: 0.3s;
}

.contact form textarea {
  height: 250px;
  resize: none;
}

.contact form input:focus,
.contact form textarea:focus {
  background-color: #f9f9f9;
}

.contact button {
  width: 35%;
  margin: 20px auto;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
}

.contact button:hover {
  background-color: red;
  color: white;
}

.error {
  color: red;
  font-size: 1.2rem;
  min-height: 20px;
  padding-top: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .contact {
    width: 95%;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .form-control,
  .full {
    width: 85%;
  }

  .contact form textarea {
    height: 160px;
  }
}