.specialHeading {
    padding: 30px 10px;
    margin: 5px 0;
    font-size: 35px;
    color: red;
    font-weight: bold;
}


@media(max-width: 639px) {
    .specialHeading {
        font-size: 25px;
    }
}