.product-details {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}
.product-details .container {
    padding: 60px 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    border-radius: 20px;
}

.product-details .container .img-box {
    display: flex;
    gap: 10px;
}

.product-details .container .img-box .images img{
    width: 200px;
    cursor: pointer;
    margin-bottom: 10px;
}

.product-details .container .img-box .zoom img {
    height: 630px;
    width: 630px;
}